.main-nav {
    display: flex;
    justify-content:center;
    background-color: purple;
    border: 2px solid black;
    margin: 0px;
    padding: 16px;
}

.nav-toggle {
    display: none;
}

.nav-brand {
    flex-grow: 2;
    /*font-family:'Verdana'; */
    font-size: 2rem;
    color: gold;
}

.nav-menu {
    display: flex;
    /*font-family:'Verdana';*/
    justify-content: space-between;
    flex-grow: 1;
}

.nav-menu li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    text-align: center;

    flex: 1;
}

.nav-menu li a {
    color: gold;
    font-size: 1.5rem;
    transition-duration: 0.2s;
}

.nav-menu li a:hover {
    color: lightpink;

    transition-duration: 0.2s;
}

.nav-menu li a:visited {
    color: lightpink;
}

/* class exmaple for event page */
.event-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "event1 event2 event3";

    margin: 20px;
}

.event {
    background-color: #CF9FFF;
    /*font-family:'Verdana'; */
    margin: 16px;
    padding: 16px;
}

.event h2 {
    text-align: center;
}

.event1 {
    grid-area: event1;
}

.event1 img {
    max-width: 100%;
}

.event2 {
    grid-area: event2;
}

.event3 {
    grid-area: event3;
    
}


.event-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "event4 event5";

    margin: 20px;
}

.event4 {
    grid-area: event4;
}

.event5 {
    grid-area: event5;
}

.light {
    background-color:#EEE8AA;
}

.dark {
    background-color: black;
}

.main-footer {
    background-color: purple;
    color: gold;
}

.text-sizes {
    align-self: center;
    justify-self: center;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 32px;

    /*font-family: 'Verdana';*/
}

.main-footer h2 {
    flex: 1 1 0;
}

.main-footer button {
    height: 50px;
    margin: 10px;
    flex: 1 1 0;

    /*font-family: 'Verdana';*/
    text-align: center;
    justify-content: center;
    padding-top: 3px;

}

#small-text {
    font-size: 12.8px; /* 12.8/16 = 0.8rem*/
}

#med-text {
    font-size: 16px; /* 16/16 = 1rem */
}

#large-text {
    font-size: 24px; /* 24/16 = 1.5rem */
}

body {
    font-family:'Verdana', sans-serif;
}

body.serif-font {
    font-family:'Courier New', Courier, monospace;
}

/* put hamburger stlying and other mobile like elements (when shrinking the screen)*/
@media (max-width: 768px) { 
    .nav-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: gold;
        height: 80px;
        width: 80px;
        border-radius: 2px;
        padding: 0px;
        margin: 3px;
    }

    .nav-toggle span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: purple;
        height: 10px;
        width: 70px;
        border-radius: 2px;
        margin: 3px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: purple;
    }

    .nav-toggle:hover {
        background-color: #EEE8AA;
    }

    .nav-toggle:hover span {
        background-color: #CF9FFF;
    }

    .nav-menu.show {
        display:flex;
    }

    .nav-menu.hide {
        display: none;
    }
}


/* make a media query that when the breaking point of the image gets too big then make the width
of the image smaller */


@media (max-width: 1060px) {
    .event1 img {
        display: flex;
        justify-content: center;
        flex-shrink: 1;
    }
}

@media (max-width: 900px) {
    body {
        
    }

    .event1 {
        display: flex;
        flex-direction: column;
    }
}