
/*
- white: E3E4DB
- grayish: CDCDCD
- purple-gray: AEA4BF
- purple: 8F6593
- dark purple/brown: 3B252C
*/



html {
            font-family:"Noto Serif", sans-serif;
            font-weight: 450;
            font-style: normal;
        }

h1 {
    font-family:"Noto Serif", sans-serif;
    font-weight: 900;
    font-style: bold;
    color:#3B252C;
    vertical-align: center;
}


h2,h3 {
    font-family:"Noto Serif", sans-serif;
    font-weight: 900;
    font-style: bold;
    color:#3B252C;
}

p {
    color: #3B252C;
    padding: 5px;
}

a {
    text-decoration: underline;
    color: #3B252C 
}

a:hover {
    text-decoration: underline;
    color:#CDCDCD;
}

a:visited {
    color:#8F6593;
}

#box3 {
            background-color: #AEA4BF;
        }

.color-box {
    height: 50px;
    width: 100%;
}

.myname {
    color:#8F6593;
    font-family: 'Verdana', sans-serif;
}

img {
    display: block;
    margin:auto;
    width: 50%;
}

video {
    display: block;
    margin: auto;
    width: 640px;
}